<ion-view view-title="SafeTaxi" >
<ion-content>
<style type="text/css">
.placa{
	background-image:url('placa.png');
	background-repeat:no-repeat;	
}
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
	<label class="placa item item-input widget uib_w_8 d-margins" height="auto" data-uib="ionic/input" data-ver="0">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" ng-model="placa" style="text-align:center"placeholder='Ingrese placa'>
	</label>

	<br>
	<div style="background-color:{{myColor}}" ng-model="luz">
		<br>
		<br>
		<br>
		<br>
	</div>
	<br>
	<button class="button button-block button-royal" ng-click="getLicense(placa)"> Buscar</button>
</center>
<h2> {{ estado }}</h2>
</ion-content>
</ion-view>
